i::before {
    content:  url(https://gitlab.com/Istiyaqiscool/assets/-/raw/master/Background.png);
    position: absolute;
    transform: translate(60px, 23px);
}
i:hover:before {
    content: url(https://gitlab.com/Istiyaqiscool/assets/-/raw/master/hover.png);
    position: absolute;
    transform: translate(60px, 23px);
}